/* Defaults */
$default-font-color: grey;
$default-border-color-weight: 1px solid black;


/* FacetList Variables */
$facet-highlight-bg-color: lighten(black, 8);
$facet-font-color: white;


/* ErrorMessage Variables */
$error-msg-bg-color: #F8F8F8;
$error-msg-text-color: #0B0B0B;


/* Pagination Variables */
$pagination-tile-bg-color: #2571ED;
$pagination-text-color: white;


/* ResultCard Variables */
$highlighted-bg-color: yellow;
$hover-border-color: 1px solid #2571ED;


/* SortBy Variables */
$sortby-btn-bg-color: white;
