@import url(https://fonts.googleapis.com/css?family=Eczar);
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  font-family: 'Eczar', serif; }

.spinner {
  margin: 2em auto 0;
  border: 15px solid #f4bcbc;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  border-top-color: transparent;
  animation: rotate 2s infinite linear; }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/*
    Spinner Citation
  
    https://stackoverflow.com/questions/42234855/is-it-possible-to-draw-a-partial-circle-outline-in-css-open-ring-shape  
  */
header {
  margin-top: 3em;
  text-align: center; }
  header img {
    height: 100px;
    width: 100px; }
  header h1, header h2 {
    font-size: 2.3em; }

.search-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center; }

.searchForm .searchInput {
  text-align: center;
  border: 1px solid black;
  font-size: 2em;
  padding: 1em;
  color: grey;
  width: 500px;
  height: 50px; }

.sortby-container {
  position: relative; }
  .sortby-container .sortby-header-container {
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center; }
    .sortby-container .sortby-header-container .sortby-header {
      margin-left: 1em; }
  .sortby-container .btn-dropdown {
    position: absolute;
    top: 100%;
    display: flex;
    flex-direction: column; }
    .sortby-container .btn-dropdown .btn {
      border-right: 1px solid black;
      border-bottom: 1px solid black;
      border-left: 1px solid black;
      height: 50px;
      width: 300px;
      font-size: 1em;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center; }
  .sortby-container .hideDropdown {
    display: none; }

.app-container {
  width: 90%;
  margin: 0 auto;
  border: 1px solid aquamarine;
  min-height: 100vh; }

.search-sort-container {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 3em; }

.results-facetlist-container {
  display: flex;
  justify-content: space-around;
  margin: 0 auto; }
  .results-facetlist-container .facetlist-container {
    width: 20%; }
  .results-facetlist-container .results-view-container {
    width: 70%; }

.facetlist-container {
  border: 1px solid black;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .facetlist-container .category-tag {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    color: grey;
    margin-bottom: 1em;
    width: 80%;
    height: 50px; }

.facet-highlight {
  background-color: #141414;
  color: white; }

.results-view-container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
  border: 1px solid goldenrod; }

.result-card {
  border: 1px solid black;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 1.5em; }
  .result-card:hover {
    border: 1px solid goldenrod; }
  .result-card .highlighted em {
    background-color: yellow; }
  .result-card .img-name-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 150px;
    border: 1px solid green; }
    .result-card .img-name-container img {
      width: 50px;
      height: 50px; }

