// May change for responsive layout
.app-container {
  width: 90%;
  margin: 0 auto;
  border: 1px solid aquamarine;
  min-height: 100vh;
}

.header-search-sort-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.search-sort-container {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5em;

}


.results-facetlist-container {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;

  .facetlist-container {
    width: 20%;
  }

  .results-view-container {
    width: 70%;
  }
}