.error-message {
  height: 200px;
  width: 80%;
  background-color: #F8F8F8;
  color: #0B0B0B;
  text-align: center;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}