.error-message {
  height: 200px;
  width: 80%;
  background-color: $error-msg-bg-color;
  color: $error-msg-text-color;
  text-align: center;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}