$default-font-color: grey;

.facetlist-container {
    border: 1px solid black;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  
    .category-tag {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid black;
      color: $default-font-color;
      margin-bottom: 1em;
      width: 80%;
      height: 50px;
    }
  }

  .facet-highlight {
    background-color: lighten(black, 8);
    color: white;
  }