.pagination-container {
  height: 50px;
  border: 1px solid pink;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 5em;

}

.pagination-first,
.pagination-previous,
.pagination-next,
.pagination-last {
  height: 50px;
  width: 80px;
  border: $default-border-color-weight;
  display: flex;
  align-items: center;
  justify-content: center;
}

.first-previous-container {
  width: 20%;
  display: flex;
  align-items: center;
}


.pagination-tiles-container {
  display: flex;
  justify-content: flex-start;
  

  .pagination-tiles {
    border: $default-border-color-weight;
    
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.current-tile {
      background-color: $pagination-tile-bg-color;
      color: $pagination-text-color;
    }
  }
  
}