@mixin baseSortByRow {
  border: 1px solid black;
  height: 50px;
  width: 300px;
}



.sortby-container {
  .sortby-row {
    @include baseSortByRow();    
  }

  .sortby-header-container {
  }


  .btn-dropdown {
    display: flex;
    flex-direction: column;
    
    .btn {
      
      @include baseSortByRow();

      font-size: 1em;
      background-color: white;
     

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .hideDropdown {
    display: none;
  }
}