.sortby-container {
  position: relative;

  .sortby-reset {
    position: absolute;
    margin-top: 10px;
    font-size: 1em;
    width: 50%;

    &:hover {
      text-decoration: underline;
    }
  }

  .sortby-header-container {
    border-top: $default-border-color-weight;

    @include baseSortByRowStyling(); 
    display: flex;
    align-items: center;
    justify-content: space-between;

    .sortby-header {
      margin-left: 1em;
      width: 70%;
    }

    .sortby-current-setting {
      margin-right: 1em;
      display: flex;
      align-items: center;
    }

    .null-current-setting {
      justify-content: flex-end;
      width: 30%;
    }

    .asc-desc-setting {
      justify-content: space-between;
      width: 40%;

    }

    img {
      width: 20px;
      height: 20px;

      &.up-arrow {
        width: 10px;
        height: 10px;
      }
    }
  }


  .btn-dropdown {
    position: absolute;
    top: 100%;

    display: flex;
    flex-direction: column;

    
    
    .btn {
      @include baseSortByRowStyling();

      font-size: 1em;
      background-color: $sortby-btn-bg-color;
     
      display: flex;
      align-items: center;
      justify-content: flex-start;

      span {
        margin-left: 1em;
      }
    }
  }

  .hideElement {
    display: none;
  }
}