@mixin baseSortByRowStyling($top-border: true) {
  border-top: if($top-border, 1px solid black, 0);
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  height: 50px;
  width: 300px;
}



.sortby-container {

  .sortby-header-container {
    @include baseSortByRowStyling(true); 
    display: flex;
    
    align-items: center;

    .sortby-header {
      margin-left: 1em;
    }
  }


  .btn-dropdown {
    display: flex;
    flex-direction: column;
    
    .btn {
      
      @include baseSortByRowStyling(false);

      font-size: 1em;
      background-color: white;
     

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .hideDropdown {
    display: none;
  }
}