@import url('https://fonts.googleapis.com/css?family=Eczar');

*:before, 
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: 'Eczar', serif;
}


header {
  margin-top: 3em;
  text-align: center;

  img {
    height: 100px;
    width: 100px;
  }

  h1, h2 {
    font-size: 2.3em;
  }
}

.search-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchForm {
  .searchInput {
    text-align: center;
    border: 1px solid black;
    font-size: 2em;
    padding: 1em;
    color: grey;
    width: 500px;
    height: 50px;
  }
}


.results-facelist-container {
  display: flex;
  justify-content: space-around;
  margin: 3em auto;

  .facelist-container {
    width: 30%;
  }

  .results-view-container {
    width: 70%;
  }
}

.facelist-container {
  border: 1px solid black;
  height: 100%;
}




.results-view-container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
  border: 1px solid goldenrod;
}

.result-card {
  border: 1px solid black;
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;

  &:hover {
    border: 1px solid goldenrod;
  }

  .highlighted em {
    background-color: yellow;
  }
  

  .img-name-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    img {
      width: 50px;
      height: 50px;
    }
  }

}